<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BKK PY-2 demo page</title>
</head>

<body>
<p>factorial calculator</p>
<div>
    <form method="get" action="/fac">
        <p><input type='number' name="value3" placeholder="name"></p>
    </form>
</div>
{% if value3 %}
<div>
    <p>Result: {{value3}}</p>
</div>
{% endif %}
</body>


</html>