<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BKK PY-2 demo page</title>
</head>

<body>
<p>Login</p>
<div>
    <form method="get" action="/login">
        <p><input type='name' name="value1" placeholder="user name"></p>
        <p><input type='name' name="value2" placeholder="password"></p>
    </form>
</div>
{% if value1%}
<div>
    <p>Hi {{value1}}</p>
</div>
{% endif %}

</body>


</html>